<template>
  <div
    style="display: flex; direction: columns"
    @keyup.up.prevent="arrowUp"
    @keyup.down.prevent="arrowDown"
  >
    <div id="searchColumn">
      <div>
        <input
          ref="textInput"
          type="text"
          v-model="query"
          @keyup.enter="fetchForSelectedResult"
          maxlength="30"
          style="width: 80%"
        />
      </div>
      <div>
        <ul class="results">
          <li
            v-for="(result, index) in allResults"
            :key="result.id"
            :class="{ selected: index === selectedResultIndex }"
            @click="
              selectedResultIndex = index;
              fetchForSelectedResult();
            "
            style="cursor: pointer"
          >
            {{ result.label }}
            <span class="dictionary">[{{ result.dictionaryName }}]</span>
          </li>
        </ul>
      </div>
    </div>
    <div
      id="fetchedResult"
      style="width: 300px; padding: 0.4em; padding-left: 2em"
    >
      <div v-if="fetchedItem" style="margin-bottom: 10px">
        {{ fetchedItem.label }}
        <span class="dictionary">[{{ fetchedItem.dictionaryName }}]</span>
        <a
          :href="`https://www.skarnik.by/search?term=${encodeURIComponent(
            fetchedItem.label
          )}&lang=${fetchedItem.dictionary}`"
          target="_blank"
        >
          skarnik
        </a>
      </div>
      <div v-html="fetchedItemHtml"></div>
    </div>
  </div>
</template>

<script setup>
import { ref, onMounted, computed, watch, onUnmounted } from "vue";
import debounce from "lodash.debounce";

const textInput = ref(null);
const query = ref("");

const fetchedItem = ref(null);
const fetchedItemHtml = ref("");

const beExplResults = ref([]);
const ruToBeResults = ref([]);
const allResults = computed(() => {
  return beExplResults.value
    .map((item) => {
      return {
        ...item,
        dictionary: BE_EXPL_DICTIONARY,
        dictionaryName: "тлумачальны",
      };
    })
    .concat(
      ruToBeResults.value.map((item) => {
        return {
          ...item,
          dictionary: RU_TO_BE_DICT,
          dictionaryName: "ру -> бел",
        };
      })
    );
});

watch(() => query.value, debounce(search, 500));

onMounted(() => {
  textInput.value.focus();
});

function baseSearchRequest(query, dictionary) {
  return fetch(
    `https://www.skarnik.by/search_json?term=${encodeURIComponent(
      query
    )}&lang=${dictionary}`,
    {
      headers: {
        accept: "application/json, text/javascript, */*; q=0.01",
        "accept-language": "en-GB,en;q=0.7",
      },
      body: null,
      method: "GET",
      mode: "cors",
      credentials: "include",
    }
  ).then((response) => response.json());
}

const BE_EXPL_DICTIONARY = "beld";
const RU_TO_BE_DICT = "rus";
// const BE_TO_RU_DICT = 'bel'

function search() {
  selectedResultIndex.value = 0;

  baseSearchRequest(query.value, BE_EXPL_DICTIONARY).then((data) => {
    beExplResults.value = data;
  });

  baseSearchRequest(query.value, RU_TO_BE_DICT).then((data) => {
    ruToBeResults.value = data;
  });
}

const selectedResultIndex = ref(0);
function arrowDown() {
  selectedResultIndex.value += 1;
}

function arrowUp() {
  selectedResultIndex.value -= 1;
}

function receiveFetchedResult(event) {
  console.log("getSelectedFetchResults", event);
  fetchedItemHtml.value = event.result;
}

onMounted(() => {
  chrome.runtime.onMessage.addListener(receiveFetchedResult);
});

onUnmounted(() => {
  chrome.runtime.onMessage.removeListener(receiveFetchedResult);
});

async function fetchForSelectedResult() {
  const selectedResult = allResults.value[selectedResultIndex.value];
  if (!selectedResult) {
    return;
  }
  console.log("searching for ", selectedResult);
  fetchedItem.value = selectedResult;
  fetchedItemHtml.value = "⏱";
  const url = `https://www.skarnik.by/search?term=${encodeURIComponent(
    selectedResult.label
  )}&lang=${selectedResult.dictionary}`;
  browser.runtime.sendMessage({ message: "fetchRequest", url });
}
</script>

<style scoped>
.results {
  list-style: none;
  padding: 0;
}

.results li {
  padding: 0.5em;
}

.results li.selected {
  background-color: #ccc;
}

span.dictionary {
  font-size: 0.8em;
  color: #999;
}
</style>
